fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx
easyocr
numpy<2
Pillow<10.2.0
PyMuPDF
google-generativeai
psycopg2-binary
faiss-cpu
langchain-google-genai
google-ai-generativelanguage
langchain
langchain-community
streamlit
requests
pandas
streamlit-webrtc
requests-toolbelt
python-multipart
